@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/hammer-bg.png);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
}

#trans-box1,
#trans-box2,
#trans-box3 {
	background-color: #fff;
	opacity: 0.85;
	border-radius: 10px;
	padding: 20px;
	margin: 10px 0 10px 0;
}

#trans-box1, 
#trans-box2 {
	height: 120px;
}

#trans-box3 div {
	margin-bottom: 20px;
}

#btn-float {
	position: fixed;
	bottom: 40px;
	right: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 7px;
	border-radius: 25px;
}

#btn-float:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

#darkmode-btn,
#arrow-btn {
	font-size: 3.5rem;
	color: #fff;
	opacity: 0.5;
	transition: 0.3s;
	display: block;
	text-align: center;
	text-decoration: none;
}

#darkmode-btn:hover,
#arrow-btn:hover {
	opacity: 1;
	cursor: pointer;
}

a {
	text-decoration: none !important;
}


/* mobile */
@media only screen and (max-width: 600px) {
	#btn-float {
		right: 5px;
	}

	#darkmode-btn,
	#arrow-btn {
		font-size: 2rem;
	}
}

/* tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
	#btn-float {
		right: 10px;
	}

	#darkmode-btn,
	#arrow-btn {
		font-size: 2.5rem;
	}
}